<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="layout.style.css">
    <title>My Layout </title>
</head>
<body>
    <div align="center">
    <div class="container">
        <div class="sidebar">
            <nav>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Contact</a></li>   
                </ul>
            </nav>
        </div>
        <main class="content">
              <section class="hero">
                  <img src="online.png" alt="">
              <div class="hero-content">
                  <h1>My Blog</h1><br></h2>Muhammad Adhitya Erlangga.</h2><br><br>   
<p> Web ini dibuat untuk mengikuti kegiatan belajar mengajar, Hobi, Liburan, serta cerita saya selama di perkuliahan. </p>
<a href="" class="action-btn">Profile Saya</a>
              </div>
                </section>
        </div>
        <div class="footer">
            <footer>
            <ul>
                <li><img src="instagram.jfif" alt=""><p>Instagram</p></a></li>
                <li><img src="facebook.jfif" alt=""><p>Facebook</p></a></li>
                <li><img src="twitter.png" alt=""><p>Twitter</p></a></li>
                <li><img src="telegram.png" alt=""><p>Telegram</p></a></li>
            </ul>
            </footer>
        </div>
                <!-- Start Footer -->
                <p align="center"><b>Copyright @2021 Muhammad Adhitya Erlangga</b></p>
                <!-- End Footer -->
    </div>    
</body>
</html>